# Local build products and runtime diagnostics.  Source, profiles, documents,
# licenses, and the packaged OpenXR runtime loader remain versioned.
/BFVRClient.dll
/BFVR.exe
/BFVRLoader.exe
/UserConfig.txt
/loader.log
/logs/
